<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @emp.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @emp.age %>
</p>

<p>
  <strong>Company:</strong>
  <%= @emp.company.name %>
</p>

<%= link_to 'Edit', edit_emp_path(@emp) %> |
<%= link_to 'Back', emps_path %>
